:root {
    --menu-text: #4a4a4a;
    --background-color: #3CDBC0;
    --text-color: #FFFFFF;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

header {
    top: 0;
    position: fixed;
    background-color: var(--text-color);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1px;
    
}

.link-image {
    width: 155px;
    padding-top: 25px;
    transform: translateX(82px);
    

}

.menu {
    padding: 10px;
    margin-left: 50px;
    margin-right: 70px;
    transform: translateX(-10px);

}

.list {
    color: var(--menu-text);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    list-style-type: none;
    text-transform: uppercase;
    padding: 10px 10px 13px 10px;
    gap: 20px;
    
}

.link1, .link2 {
    text-decoration: none;
    color: var(--menu-text);
    
}
    
main {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    
   
}
.text-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    
}
.phrase {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color); 
    word-spacing: 100vw;
    text-align: center;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .link-image {
        padding: 20px 30px 20px;
        transform: translateY(35px);
    }
    .list {
        gap: 20px;
        padding: 70px 30px 13px;
        transform: translateX(70px);
    }
    .phrase {
        font-size: 40px;
    }
}
    
    





